:root{
    --focus-color: #00acc1;
    --title-color: #1e1e1f;
    --table-color: #363738;
    --header-color: #505258;
    --read-color: #78828f;
    --read-bg-color: #eef0f2;
    --white-color: #ffffff;
    --main-bg-color: #f6f8f9;
    --line-color: #d3d7dc;
    --table-gray-bg: #f0f3f5;
    --input-placeholder: #9a9a9a;
}

body {
    width:100%;
    min-width: 48rem;
    background:var(--read-bg-color);
}

.container{
    width:100%;
    display:flex;
    justify-content: center;
}

/* button */
.btn{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3125rem;
    height:2.5rem;
}

.btn span{
    font-size:0.8125rem;
}

.btn-focus{
    background:var(--focus-color);
    padding:0 0.8125rem;
}

.btn-focus span{
    color:var(--white-color);
}

.btn-white{
    background:var(--white-color);
    border:0.0625rem solid var(--line-color);
    padding:0 0.875rem;
}

.btn-white span{
    color:var(--header-color);
}

.search-btn{
    gap:0.5rem;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"]{
    border-radius: 0.3125rem;
    padding:0 0.875rem;
    height:2.5rem;
    font-size:0.8125rem;
    border:0.0625rem solid var(--line-color);
    background:var(--white-color);
}

.select-box{
    position: relative;
    width:max-content;
    margin:0;
}

.select-box select{
    border-radius: 0.3125rem;
    padding:0 0.875rem;
    height:2.5rem;
    font-size:0.8125rem;
    border:0.0625rem solid var(--line-color);
    background:var(--white-color);
    position: relative;
    color:var(--header-color);
}

.select-box select option{
    font-size:0.8125rem;
    color:var(--header-color);
}

.select-box i{
    display: block;
    width:0.6875rem;
    height:0.6875rem;
    background:url(../images/common/select_arrow_ico.png) no-repeat center;
    background-size: contain;
    position: absolute;
    right:0.875rem;
    top:50%;
    transform: translate(-0, -50%);
    z-index: 9;
    transition: all 0.2s;
}
























/* header */
header{
    background:var(--white-color);
    width:100%;
    padding:1rem 1.25rem 0.5625rem 1.25rem;
    border-bottom:0.0625rem solid var(--line-color);
    position:fixed;
    top:0;
    left:0;
    z-index: 99;
}

header .header-top{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    max-width:1200px;
    margin:0 auto;
}

header .header-top .logo-box{
    display:flex;
    align-items: flex-end;
    gap:0.5625rem;
    justify-content: flex-start;
    margin:0;
}

header .header-top .logo-box i.logo{
    width:6.3125rem;
}

header .header-top .logo-box i.logo img{
    width:100%;
}

header .header-top .logo-box p{
    font-size:0.9375rem;
    font-weight:700;
    color:var(--table-color);
    display:block;
    padding-bottom:0.2rem;
}

header .header-top .user-box{
    margin:0;
    display: flex;
    align-items: center;
    font-size:0.8125rem;
    color:var(--header-color);
}

header .header-top .user-box span{
    font-size:0.8125rem;
    color:var(--header-color);
}

header .header-top .user-box::before{
    content:"";
    display:block;
    width:0.875rem;
    height:0.875rem;
    margin-right:0.625rem;
    background:url(../images/common/user_ico.png) no-repeat center;
    background-size: contain;
}

header .header-bottom{
    width:100%;
    margin:1.4375rem auto 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width:1200px;
}

header .header-bottom .menu-box{
    margin:0;
}

header .header-bottom .menu-list{
    width:22.5rem;
}

header .header-bottom .out-box{
    display:flex;
    align-items: center;
    margin:0;
    gap:1rem;
}

header .header-bottom .out-box .logout .logout-btn{
    display:flex;
    align-items: center;
    font-size:0.8125rem;
    color:var(--header-color);
    gap:0.5rem;
    font-weight: 700;
}

header .header-bottom .out-box .logout .logout-btn::before{
    content:"";
    display: block;
    width:1rem;
    height:1rem;
    background:url(../images/common/logout_ico.png) no-repeat center;
    background-size: contain;
}

header .header-bottom .out-box .login-count{
    display:flex;
    align-items: center;
    width:9.375rem;
    height:2rem;
    border-radius: 0.3125rem;
    border:0.0625rem solid var(--focus-color);
    
}

header .header-bottom .out-box .login-count .time-count{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    width:calc( 100% - 4.4375rem );
}

header .header-bottom .out-box .login-count .time-count::before{
    content:"";
    display:block;
    width:1rem;
    height:1rem;
    background:url(../images/common/time_ico.png) no-repeat center;
    background-size: contain;   
}

header .header-bottom .out-box .login-count .time-count .count{
    font-size:0.8125rem;
    color:var(--header-color);
}

header .header-bottom .out-box .login-count .time-extend{
    display: flex;
    align-items: center;
    justify-content: center;
    width:4.4375rem;
    height:100%;
    background:var(--focus-color);
    color:var(--white-color);
    font-size:0.8125rem;
    font-weight:700;
}

/* 컨텐츠 공통 */
.contents{
    width:100%;
    padding:10.375rem 1.25rem 1.5rem 1.25rem;
    max-width:1200px;
    margin:0 auto;
}

.contents .page-title{
    font-size:1.375rem;
    color:var(--title-color);
    font-weight:700;
}

.contents .page-tab{
    width:100%;   
    overflow: hidden;
    border-bottom:0.0625rem solid #e5e9eb;
    margin-top:2.375rem;
}


.contents .page-tab .page-tab-box{
    width:100%;
    display:flex;
    align-items: center;
}


.contents .page-tab .page-tab-box .page-tab-con{
    width:max-content;
}

.contents .page-tab .page-tab-box .page-tab-con .page-tab-link{
    font-size:0.875rem;
    color:var(--table-color);
    height:2.125rem;
    position: relative;
    padding:0 0.75rem;
    white-space: nowrap;
    display:flex;
}

.contents .page-tab .page-tab-box .page-tab-con .page-tab-link.active{
    color:var(--focus-color);
    font-weight:700;
}

.contents .page-tab .page-tab-box .page-tab-con .page-tab-link.active::before{
    content:"";
    display:block;
    width:100%;
    height:0.125rem;
    background:var(--focus-color);
    position: absolute;
    left:0;
    bottom:-0.0625rem;
    z-index: 2;
}

.list-form{
    width:100%;
    margin-top:1.875rem;
}



