
@charset "UTF-8";

/* reset */
*{
    margin:0;
    padding:0;
    border:0;
    font-size:20px;
    font-family: 'NotoSansKR', sans-serif;
    letter-spacing: -0.5px;
    font-weight:400;
    line-height: 1;
}

*, *::before, *::after{
    box-sizing:border-box;
}

img{
    border:0;
    margin:0;
    padding:0;
    display: block;
    max-width:100%;
}

ul, ol, li{
    list-style:none;
    padding:0;
    margin:0;
}

h1, h2, h3, h4{
    text-wrap: balance;
}

a{
    text-decoration: none;
}

input, button, textarea, select{
    font-family: 'NotoSansKR', sans-serif;
    margin:0;
    vertical-align: middle;
    box-shadow: unset;
}

input, button {
    overflow:visible;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

button, select{
    text-transform: none;
}

input[type="text"],input[type="password"],input[type="number"],input[type="tel"]{
    height:3rem;
    padding:0 0.75rem;
    border:1px solid #ddd;
    color:#202020;
    box-shadow: unset !important;
}

input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus,input[type="tel"]:focus, textarea:focus{
    box-shadow: unset !important;
}

input[type="text"]:disabled,input[type="password"]:disabled,input[type="number"]:disabled,input[type="text"]:read-only{
	color: #acacac;
    background:#e3e3e3;
}

input::-webkit-input-placeholder{
	color:#6c757d;
}

input:-ms-input-placeholder{
	color:#6c757d;
}

input::placeholder{
	color:#6c757d;
}
/* 웹킷 전용 속성 */
input:-moz-placeholder{
	color:#6c757d;
	opacity: 1;
}
/* Mozilla Firefox 4 to 18 */
input::-moz-placeholder{
	color:#6c757d;
	opacity: 1;
}
/* Mozilla Firefox 19+ */
input:-ms-input-placeholder{
	color:#6c757d;
}
select{
    padding:0 1rem;
    font-size:1rem;
    height:3rem;
    border:0;
    background:#f6f6f6
}

button{
    color: #515151;
}

button,
[type='button'],
[type='reset'],
[type='submit']{
    -webkit-appearance: button;
    border: 0 none;
	background: none;
	font: inherit;
	cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
button:disabled{
    color:#acacac !important;
    border-color:#e3e3e3 !important;
    background:#e3e3e3 !important;
}

a, button{
    outline: 0;
}

textarea {
    overflow: auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display:block;
}

table{
    table-layout:fixed;
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

legend,caption{
	overflow: hidden;
	position: absolute;
	left: -9999em;
	top: -9999em;
	width: 1px;
	height: 1px;
	text-indent: -5000px;
	font-size: 1px;
	line-height: 1px;
}

/* reset end */

/* bootstrap set */
.accordion-item{
    border:0;
    padding:0;
}

.accordion-item>.accordion-header .accordion-button{
    box-shadow: none;
}

.accordion-button:not(.collapsed){
    background:#fff;
}

.accordion-body{
    padding:0;
}

.row{
    margin:0;
    padding:0;
}

.row .col{
    margin:0;
    padding:0;
}

/* bootstrap set end */

#wrap{
    margin:0 auto;
    overflow: hidden;
}

/* pop open hidden */
.hidden-set{
    overflow: hidden;
}

/* header */
header {
    padding: 0.8rem 0 0 0;
}

header .header-top {
    margin-bottom: 0;
    max-width:1200px;
    margin:0 auto;
}

header .header-top li {
    display: flex;
    align-items: center;
}

header .header-top li::after {
    content: "";
    display: block;
    width: 1px;
    height: 11px;
    background: #dbdee2;
    margin: 0 10px;
}

header .header-top li:last-child::after {
    display: none;
}

header .header-top li a {
    font-size: 13px;
    color: #202020;
}

header .header-top li span{
    font-size: 13px;
    color:#202020;
    font-weight:700;
}

header .header-box{
    max-width:1200px;
    margin:0 auto;
}

header .header-box .navbar {
    padding: 0;
}

header .header-box .navbar .actvie-line {
    width: 0px;
    height: 2px;
    background: #141273;
    position: absolute;
    bottom: -1px;
    transition: all 0.2s;
    z-index: 1000;
}

header .header-box .navbar .navbar-nav {
    padding: 1.4rem 0 0 0;
}

header .header-box .navbar .navbar-brand {
    padding-top: 0.5rem !important;
}

header .header-box .navbar .navbar-nav .menu-list {
    display: flex;
    width:100%;
    margin: 0;
    gap:0 6rem;
    padding-left:0px;
}

header .header-box .navbar .navbar-nav .nav-item a {
    font-size: 1rem;
    font-weight: 500;
    color: #202020;
    padding-bottom: 1.75rem !important;
    width:max-content;
    letter-spacing: -0.5px;
}

header .header-box .navbar .navbar-nav .nav-item:hover a {
    color: #141273;
}

header .header-box .navbar .navbar-nav .nav-item.active a {
    color: #141273;
}

header .all-menu-form{
    padding-left:0px;
    position: absolute;
    height:220px;
    background:#fff;
    width:100vw;
    max-width:100%;
    top:200px;
    border-top:1px solid #dbdee2;
    border-bottom:1px solid #dbdee2;
    padding-top:2rem;
    z-index: 999;
    display: none;
}

header .all-menu-form .all-menu-box{
    width:100%;
    max-width:1200px;
    padding-left:0px;
    margin:0 auto;
    display:flex;
    justify-content: flex-end;
}

header .all-menu-form .all-menu-box .all-menu-con{
    width:100%;
    display: flex; 
    justify-content: space-between;
    padding-left:0px;
}

header .all-menu-form .all-menu-box .all-menu-con .all-menu-list{
    position: absolute;
    display:flex;
    flex-direction: column;
    gap:0.5rem 0;
    height:auto;
}

header .all-menu-form .all-menu-box .all-menu-con .all-menu-list a{
    display: block;
    font-size:0.7rem;
    color:#606060;
    font-weight:500;
    white-space: nowrap;
    padding-bottom:0px !important;
    width:max-content;
    border-bottom:1px solid #fff;
}

header .all-menu-form .all-menu-box .all-menu-con .all-menu-list a:hover{
    color:#202020;
    border-bottom:1px solid #202020;
}

header .mo-menu-btn{
    display: none;
}

header .mo-menu-btn button i{
    font-size:1.6rem;
    color:#202020;
}

header .mo-all-menu{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0, 0.6);
    z-index: 99999;
    display: none;
}

header .mo-all-menu .mo-all-menu-form{
    position: relative;
    width:calc( 100% - 5.5rem );
    max-width:640px;
    height:100vh;
    left:-100%;
    transition: all 0.4s;
}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box{
    background:#fff;
    width:100%;
    height:100%;

}

header .mo-all-menu .mo-all-menu-form .mo-menu-close{
    position: absolute;
    right: -1.9375rem;
    top:1.5625rem;
    width:0.9375rem;
    height:0.9375rem;
}

header .mo-all-menu .mo-all-menu-form .mo-menu-close img{
    width:100%;
}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box{
    height:100%;
    overflow-y: auto;
    padding-bottom:1.25rem;
}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box .mo-all-menu-head{
    width:100%;
    border-bottom:0.375rem solid #f7f8f9;
    display:flex;
    justify-content: flex-end;
    padding:1.5625rem 1.6875rem 1.5rem 1.6875rem;

}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box .mo-all-menu-head .mo-all-menu-head-box{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin:0px;
    padding:0px;
}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box .mo-all-menu-head .mo-all-menu-head-box li{
    display:flex;
    align-items: center;
}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box .mo-all-menu-head .mo-all-menu-head-box li::after{
    content:"";
    display:block;
    width:1px;
    height:0.625rem;
    background:#dbdee2;
    margin:0 0.625rem;
}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box .mo-all-menu-head .mo-all-menu-head-box li:last-child::after{
    display: none;
}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box .mo-all-menu-head .mo-all-menu-head-box li a{
    font-size:0.8125rem;
    color:#202020;
}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box .mo-all-menu-head .mo-all-menu-head-box li span{
    font-size:0.8125rem;
    color:#202020;
    font-weight: 700;
}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box .mo-all-menu-con{
    width:100%;
}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box .mo-all-menu-con .accordion{
    padding:0;
}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box .mo-all-menu-con .accordion .accordion-item{
    padding:0 1.25rem;
    border-bottom:1px solid #e9ebed;
}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box .mo-all-menu-con .accordion-button{
    font-size:1rem;
    font-weight:500;
    color:#202020;
    padding:1rem 0;
}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box .mo-all-menu-con .accordion-button::after{
    color:#606060;
}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box .mo-all-menu-con .mo-all-menu-depth{
    display: flex;
    flex-direction: column;
    padding:0;
}

header .mo-all-menu .mo-all-menu-form .mo-all-menu-box .mo-all-menu-con .mo-all-menu-depth a{
    font-size:0.9375rem;
    padding:1.125rem 0;
    border-top:1px solid #e9ebed;
    color:#606060;
}

/* footer */
footer{
    width:100%;
    padding:2.75rem 0 3.25rem 0;
    border-top:1px solid #e9ebed;
}

footer .footer-form{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

footer .footer-form .footer-box{

}

footer .footer-form .footer-box .footer-policy-list{
    display: flex;
    align-items: center;
    padding:0px;
    margin:0px;
}

footer .footer-form .footer-box .footer-policy-list li{
    display: flex;
    align-items: center;
}

footer .footer-form .footer-box .footer-policy-list li::after{
    content:"";
    display:block;
    width:3px;
    height:3px;
    border-radius: 3px;
    background:#85888c;
    margin:0 15px;
}

footer .footer-form .footer-box .footer-policy-list li:last-child::after{
    display: none;
}

footer .footer-form .footer-box .footer-policy-list li a{
    font-size:0.8rem;
    font-weight:500;
    color:#141273;
}

footer .footer-form .footer-box .footer-policy-list li:first-child a{
    color:#202020;
}

footer .footer-form .footer-box .footer-info{
    margin-top:1.65rem;
    font-size:14px;
    font-weight:500;
    color:#606060;
    line-height:1.6;
}

footer .footer-form .footer-box .footer-info span,
footer .footer-form .footer-box .footer-info a{
    font-size:14px;
    font-weight:500;
    color:#202020;
}

footer .footer-form .footer-box .footer-site{

}

footer .footer-form .footer-box .footer-site .footer-site-box{
    display:flex;
    align-items: center;
    gap:0 0.5rem;
}

footer .footer-form .footer-site .footer-site-box .btn-group .btn{
    width:11.5rem;
    height:2.3rem;
    border-radius: 0.25rem;
    background:#f6f7f9;
    color:#202020;
    font-size:0.7rem;
    font-weight:500;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

footer .footer-form .footer-site .footer-site-box .dropup .dropdown-toggle::after{
    width:0.6rem;
    height:0.4rem;
    background:url(../images/common/footer_select.png) no-repeat center;
    background-size: contain;
    color:transparent;
    border:0px;
}

footer .footer-form .footer-site .footer-site-box .dropdown-menu{
    width:100%;
}

footer .footer-form .footer-site .footer-site-box .dropdown-menu li a{
    font-size:0.7rem;
    color:#606060;
}

footer .footer-form .footer-site .national-flag{
    margin:0.7rem auto auto auto;
    display: flex;
    justify-content: flex-end;
}

/* top btn */
.top-btn{
    position: fixed;
    right:calc((( 100% - 60rem ) /2) - 3.8rem );
    bottom:2.5rem;
    width:2.4rem;
    height:2.4rem;
    border-radius: 0.5rem;
    background:#101010;
    box-shadow: 14px 0 25px rgba(167, 167, 167, 0.3);
    z-index: 99;
    display: none;
}

.top-btn .top-btn-box{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-btn p{
    margin:0.25rem 0 0 0;
    font-size:0.5rem;
    font-weight: 700;
    color:#fff;
}

#wrap .sub-section{
    border-top:1px solid #e9ebed;
    padding:1.5rem 0 6.5rem 0;
}

#wrap .sub-section .container{
    max-width:1200px;
    padding:0px;
}


/* 네비게이션 */
#wrap .sub-section nav .breadcrumb .breadcrumb-item{
    color:#606060;
    font-size:0.7rem;
    display: flex;
    align-items: center;
    padding:0px;
}

#wrap .sub-section nav .breadcrumb .breadcrumb-item a{
    display:flex;
    align-items: center;
    color:#606060;
    font-size:0.7rem;
    gap:0 0.5rem;
}

#wrap .sub-section nav .breadcrumb .breadcrumb-item a span{
    color:#606060;
    font-size:0.7rem;
}

#wrap .sub-section .breadcrumb-item+.breadcrumb-item::before{
    content:"";
    border:0px;
    width:0.3rem;
    height:0.4rem;
    padding:0px;
    background:url(../images/common/nav_arrow_ico.png) no-repeat center;
    background-size:contain;
    margin:0 0.5rem;
}

/* 공통 페이징 */
.paging-form{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.paging-form .pagination{
    gap:0 3px;
    display: flex;
}

.paging-form .pagination li a{
    border:0px;
    box-shadow: unset;
    width:1.9rem;
    height:1.9rem;
    border-radius: 1.9rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:0.8rem;
    coloR:#666;
    padding:0px;
}

.paging-form .pagination li a.active{
    background:#181661;
    color:#fff;
}

.paging-form .pagination li.disabled a{
    background:#fff;
}

.paging-form .pagination li.disabled a img{
    opacity: 0.3;
}

/* btn 커스텀 */
.btn-box{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:0 0.5rem;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
}

.btn.btn-line{
    border:1px solid #dbdee2;
}

.btn.btn-line.big{
    font-size:0.8rem;
    color:#202020;
    font-weight:500;
    width:5rem;
    height:2.7rem;
}

.btn.btn-line.big:hover{
    background:rgba(0,0,0,0.05);
}

.btn.btn-fill{
    background:#181661;
    font-size:0.8rem;
    color:#fff;
    font-weight:500;
    width:5rem;
    height:2.7rem;
}

.btn.btn-fill:hover{
    background:#101010;
}


/* check box */
.form-check{
    padding:0;
    margin:0;
}

.form-check input[type="checkbox"]{
    display:none;
}

.form-check  input[type="checkbox"] + label{
    font-size:0.75rem;
    color:#202020;
    font-weight:500;
    display:flex;
    align-items: center;
    gap:0 0.45rem;
}

.form-check input[type="checkbox"] + label::before{
    content:"";
    display:block;
    width:1rem;
    height:1rem;
    border:1px solid #dbdee2;
    background:#fff;
    border-radius: 0.25rem;
}

.form-check input[type="checkbox"]:checked + label::before{
    border:1px solid #101010;
    background:#101010 url(../images/common/check_ico.png) no-repeat 0.15rem 0.15rem;
    background-size:70%;
} 


.form-check input[type="radio"]{
    display:none;
}

.form-check  input[type="radio"] + label{
    font-size:0.75rem;
    color:#202020;
    font-weight:500;
    display:flex;
    align-items: center;
    gap:0 0.45rem;
    position: relative;
}

.form-check input[type="radio"] + label::before{
    content:"";
    display:block;
    width:1rem;
    height:1rem;
    border:1px solid #dbdee2;
    background:#fff;
    border-radius: 1rem;
}

.form-check input[type="radio"]:checked + label::before{
    border:2px solid #101010;
    
} 

.form-check input[type="radio"]:checked + label::after{
    content:"";
    display: block;
    width:0.5rem;
    height:0.5rem;
    background:#101010;
    border-radius: 0.5rem;
    position: absolute;
    left:0.25rem;
    top:0.25rem;
}




















